# Files
.gitignore                 export-ignore
.gitattributes             export-ignore
.python-version            export-ignore
.pre-commit-config.yaml    export-ignore
poetry.lock                export-ignore
CONTRIBUTING.md            export-ignore
TODO.md                    export-ignore
README.html                export-ignore

# Directories
.nuketools                 export-ignore
.vscode                    export-ignore
htmlcov                    export-ignore
other                      export-ignore
tests                      export-ignore
images                     export-ignore

# Source files
*                   text=auto
*.py                text diff=python
